* {
	font-family: 'Average Sans', sans-serif;
}

html, body, h1, ul {
	margin: 0;
	padding: 0;
}

#welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: white;
	font-size: 2em;

	text-shadow: 2px 2px 10px #000000;
	text-align: center;
	height: 100vmin;
	background-image: url("./images/FSAE_Lincoln_FE6_008.jpg");

	background-color: rgba(255,255,255,0.2);
	background-blend-mode: lighten;

	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#intro {
	height: 40vmin;
	font-size: 3vmin;
	padding: 5vmin;
}

#work #workHeader {
	grid-area: workHeader;
	text-align: center;
	place-self: center;
}

#work #yamahaImg {
	grid-area: yamahaImg;
	place-self: center;
}

#work #yamahaDesc {
	grid-area: yamahaDesc;
	place-self: center;
}

#work #genentechImg {
	grid-area: genentechImg;
	place-self: center;
}

#work #genentechDesc {
	grid-area: genentechDesc;
	place-self: center;
}

#work {
	overflow: auto;
	padding-top: 10vmin;

	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"workHeader workHeader workHeader"
		"yamahaImg yamahaDesc yamahaDesc"
		"genentechImg genentechDesc genentechDesc";
}

#work img {
	height: 50vmin;
}

#projectInfo {
	display: none;
	padding: 10vmin;
}

#projectInfo div {
	display: none;
}

#projects #projectsHeader {
	grid-area: projectsHeader;
	place-self: center;
	height: 15vmin;
}

#projects img {
  cursor: pointer;
}

#projects #proj1 {
	grid-area: proj1;
}

#projects #proj2 {
	grid-area: proj2;
}

#projects #proj3 {
	grid-area: proj3;
}

#projects #proj4 {
	grid-area: proj4;
}

#projects {
	height: 40vw;
	display: grid;

	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"projectsHeader projectsHeader projectsHeader projectsHeader"
		"proj1 proj2 proj3 proj4";
	justify-items: center;
}

#projects img {
	width: 100%;
	height: 25vw;
}

#contact {
	margin-top: 20vmin;
	margin-bottom: 15vmin;
	height: 20vmin;
	text-align: center;
}

#contact img {
	height: 5vmin;
	padding-top: 4vmin;
}

#contactHeader {
	text-align: center;
	place-self: center;
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 600px) {
	#work {
		padding: 10vmin;
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
		"workHeader"
		"yamahaImg"
		"yamahaDesc"
		"genentechImg"
		"genentechDesc";
	}

	#projects {
		height: 105vw;

		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"projectsHeader projectsHeader"
			"proj1 proj2"
			"proj3 proj4";
	}

	#projects img {
		height: 50vw;
	}	
}