* {
	margin: 0;
	padding: 0;
	font-family: 'Average Sans', sans-serif;
}

#welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: white;
	font-size: 2em;

	text-align: center;
	height: 99vh;
    background-image: url(images/FSAE Lincoln 2017.jpg);
	  
	background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
    
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#intro {
	height: 40vh;
	font-size: 3vmin;
	padding: 5vmin;
}

#work #workHeader {
	grid-area: workHeader;
	text-align: center;
}

#work #yamahaImg {
	grid-area: yamahaImg;
}

#work #yamahaDesc {
	grid-area: yamahaDesc;
}

#work #genentechImg {
	grid-area: genentechImg;
}

#work #genentechDesc {
	grid-area: genentechDesc;
}

#work {
	height: 99vh;
	display: grid;
	grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    	"workHeader workHeader workHeader"
    	"yamahaImg yamahaDesc yamahaDesc"
    	"genentechImg genentechDesc genentechDesc";
}

#work img {
	height: 50vmin;
}

#projects #projectsHeader {
	grid-area: projectsHeader;
	text-align: center;
}

#projects #proj1 {
	grid-area: proj1;
}

#projects #proj2 {
	grid-area: proj2;
}

#projects #proj3 {
	grid-area: proj3;
}

#projects #proj4 {
	grid-area: proj4;
}

#projects {
	height: 99vh;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    	"projectsHeader projectsHeader projectsHeader projectsHeader"
    	"proj1 proj2 proj3 proj4";
    justify-items: center;
}

#projects img {
	width: 40vmin;
	height: 40vmin;
}

#contact {
	height: 20vh;
	text-align: center;
}

#contact img {
	height: 5vh;
	padding-top: 4vh;
}

#contactHeader {
	text-align: center;
}